<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>

    <header>
        <h1 class="titre">Bienvenue sur notre bibliothèque</h1>

    </header>

    <main>
        <ul>
            <a href="{{ path('books') }}">Nos livres</a>
            <a href="{{ path('authors') }}">Nos auteurs</a>
        </ul>

    </main>

    {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}


    </body>


</html>
